<div class="card">
  <img [src]="img" class="card-img-top">
  <div class="card-body">
    <h3 class="card-title">{{ nom }} - {{ adresse }}</h3>
    <h5 class="card-subtitle">
      <span *ngIf="wifi" class="badge bg-primary">Wifi</span>
      <span *ngIf="parking" class="badge bg-primary">Parking</span>
      <span class="badge bg-warning">
        <fa-icon *ngFor="let i of avisIterator" [icon]="faStar"></fa-icon>
      </span>
    </h5>
    <p class="card-text">{{ shortedDescription }}</p>
    <a href="#" class="btn btn-primary">Voir plus</a>
  </div>
</div>
