<nav class="navbar navbar-expand-lg navbar-light mt-3">
    <div class="container">
        <div class="_drm_trvl_logo_mbl">
            <a class="navbar-brand" href="#">
                <img src="assets/img/trvl_agncy_logo.svg" alt="image">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse _drm_trvl_menu" id="navbarTogglerDemo02">
            <div class="_drm_trvl_logo _drm_trvl_logo_dsktp">
                <a class="navbar-brand text-light" href="#">
                    GASIKARA
                </a>
            </div>
            <div class="_drm_trvl_mdl">
                <ul class="_drm_trvl_mdl_ul">
                    <li class="_drm_trvl_mdl_ul_li">
                        <a href="#" class="_drm_trvl_mnu_txt">Hôtels</a>
                    </li>
                    <li class="_drm_trvl_mdl_ul_li">
                        <a href="#" class="_drm_trvl_mnu_txt">Sites touristiques</a>
                    </li>
                    <li class="_drm_trvl_mdl_ul_li">
                        <a href="#" class="_drm_trvl_mnu_txt">Produits artisanaux</a>
                    </li>
                </ul>
            </div>
            <div class="_drm_trvl_r8_menu">
                <ul class="_drm_trvl_r8_menu_ul">
                    <li>
                        <a href="" class="_drm_trvl_menu_btn2" data-bs-toggle="modal" data-bs-target="#loginModal"
                            id="connecter">
                            Connexion
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<app-login></app-login>