<app-navbar></app-navbar>
<div>
    <app-header></app-header>
</div>
<div class="container my-5">
    <app-province-slide></app-province-slide>
</div>
<div class="container my-5">
    <app-hotel-slide></app-hotel-slide>
</div>
<footer class="_foter_drm_trvl_sec mt-5">
    <div class="container">
        <div class="_foter_drm_trvl_crd">
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                <div class="_foter_drm_trvl_lft">
                    <div class="_foter_drm_trvl_logo">
                        <p class="text-white h1">GASIKARA</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 col-xl-6">
                <div class="_foter_drm_trvl_mdl">
                    <ul class="_foter_drm_trvl_mdl_ul">
                        <li>
                            <a href="">
                                <div class="_foter_drm_trvl_icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20">
                                      <path fill="#1778F2" d="M10.797 15.644v-5.353h1.797l.27-2.086h-2.067V6.873c0-.604.168-1.015 1.034-1.015h1.105V3.992a14.808 14.808 0 00-1.61-.082c-1.592 0-2.683.972-2.683 2.758v1.537H6.842v2.086h1.801v5.353h2.154z"/>
                                    </svg>
                                </div>
                                Facebook
                            </a>           
                        </li>          
                        <li>          
                            <a href="">
                                <div class="_foter_drm_trvl_icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20">
                                      <path fill="#0A7BBA" d="M15.974 10.805v4.123h-2.39V11.08c0-.966-.345-1.625-1.21-1.625-.66 0-1.053.444-1.226.874-.064.153-.08.367-.08.583v4.015h-2.39s.032-6.515 0-7.19h2.39v1.02l-.015.023h.015v-.023c.318-.49.885-1.189 2.155-1.189 1.573 0 2.751 1.028 2.751 3.236zM6.178 4.273c-.818 0-1.353.537-1.353 1.242 0 .69.519 1.242 1.321 1.242h.015c.834 0 1.353-.551 1.353-1.242-.016-.705-.519-1.242-1.336-1.242zm-1.21 10.655h2.388v-7.19H4.967v7.19z"/>
                                    </svg>
                                </div>
                                Linkedin 
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="_foter_drm_trvl_icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20">
                                      <path fill="#55ACEE" d="M16.125 7.187c-.428.19-.89.318-1.373.376a2.397 2.397 0 001.051-1.322 4.784 4.784 0 01-1.517.58A2.39 2.39 0 0010.213 9a6.785 6.785 0 01-4.927-2.498 2.39 2.39 0 00.74 3.191 2.373 2.373 0 01-1.083-.299v.03c0 1.159.824 2.125 1.917 2.344a2.382 2.382 0 01-1.08.042 2.393 2.393 0 002.233 1.66 4.796 4.796 0 01-3.538.99 6.76 6.76 0 003.663 1.073c4.397 0 6.801-3.642 6.801-6.8 0-.104-.002-.208-.007-.31a4.847 4.847 0 001.193-1.237z"/>
                                    </svg>
                                </div>
                                Twitter
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="_foter_drm_trvl_icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20">
                                      <path fill="#CC2127" d="M7.033 19.472c.411-.665 1.01-1.734 1.23-2.595l.626-2.369c.321.623 1.276 1.148 2.288 1.148 3.013 0 5.186-2.762 5.186-6.197 0-3.295-2.7-5.754-6.165-5.754-4.321 0-6.61 2.885-6.61 6.025 0 1.467.783 3.278 2.034 3.86.19.09.296.05.337-.13l.096-.388.184-.744a.295.295 0 00-.066-.287c-.411-.5-.74-1.418-.74-2.27 0-2.197 1.67-4.32 4.518-4.32 2.46 0 4.181 1.664 4.181 4.05 0 2.688-1.366 4.556-3.144 4.556-.98 0-1.72-.81-1.481-1.803.102-.423.237-.857.368-1.28.238-.765.463-1.49.463-2.04 0-.762-.412-1.401-1.268-1.401-1.004 0-1.81 1.033-1.81 2.418 0 .877.296 1.475.296 1.475s-.988 4.172-1.169 4.951c-.197.86-.123 2.071-.033 2.858.223.087.449.166.68.237z"/>
                                    </svg>
                                </div>
                                 Pinterest
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<router-outlet></router-outlet>
