<!-- Modal Connexion -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-login modal-dialog-centered">
        <div class="modal-content glass-style">
            <div class="modal-header border-0">
                <h2 class="modal-title" id="loginModalLabel"></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="closeLog"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid box-login ms-auto me-auto text-center">
                    <h1 class="text-center box-title">Se connecter</h1>
                    <form class="row mb-3" (ngSubmit)="onSubmitLogin()" [formGroup]="loginform">
                        <mat-form-field appearance="legacy" floatLabel="auto" class="mb-3" [hideRequiredMarker]="true">
                            <mat-label>Identifiant ou adresse email</mat-label>
                            <input matInput required [formControl]="user">
                            <mat-error *ngIf="user.invalid">{{getErrorMessage(user)}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="legacy" floatLabel="auto" class="mb-3" [hideRequiredMarker]="true">
                            <mat-label>Mot de passe</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" required [formControl]="password">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon class="text-gray">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
                        </mat-form-field>

                        <button mat-raised-button type="submit" class="btn-login-color">Se
                            connecter</button>

                    </form>
                    <p class="mat-body text-gray">Pas de compte ? <span class="sign" data-bs-toggle="modal"
                            data-bs-target="#inscriptionModal" data-bs-dismiss="modal">S'inscrire</span></p>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal Inscription -->
<div class="modal fade" id="inscriptionModal" tabindex="-1" aria-labelledby="inscriptionModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content glass-style">
            <div class="modal-header border-0">
                <h2 class="modal-title" id="inscriptionModalLabel"></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="closeInsc"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <h1 class="text-center box-title">Inscription</h1>
                    <form class="row" (ngSubmit)="onSubmitInscription()" [formGroup]="inscriptionform">
                        <mat-form-field appearance="legacy" class="col-lg-6 mb-3" [hideRequiredMarker]="true">
                            <mat-label>Nom(s)</mat-label>
                            <input matInput required [formControl]="nom">
                            <mat-error *ngIf="nom.invalid">{{getErrorMessage(nom)}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="legacy" class="col-lg-6 mb-3" [hideRequiredMarker]="true">
                            <mat-label>Prénom(s)</mat-label>
                            <input matInput required [formControl]="prenom">
                            <mat-error *ngIf="prenom.invalid">{{getErrorMessage(prenom)}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="legacy" class="col-lg-6 mb-3" [hideRequiredMarker]="true">
                            <mat-label>Email</mat-label>
                            <input matInput required [formControl]="email">
                            <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
                        </mat-form-field>



                        <mat-form-field appearance="legacy" class="col-lg-6 mb-3" [hideRequiredMarker]="true">
                            <mat-label>Contact</mat-label>
                            <input matInput required [formControl]="contact">
                            <mat-error *ngIf="contact.invalid">{{getErrorMessage(contact)}}</mat-error>
                        </mat-form-field>
                        <mat-radio-group aria-label="Select an option" formControlName="sexe"
                            class="col-lg-12 mb-3 d-flex justify-content-between align-items-center">
                            <label for="" class="text-gray">Sexe</label>
                            <mat-radio-button [value]="true" class="text-gray" [checked]="true">Masculin
                            </mat-radio-button>
                            <mat-radio-button [value]="false" class="text-gray">Femme
                            </mat-radio-button>
                        </mat-radio-group>
                        <mat-form-field appearance="legacy" class="col-lg-6 mb-3" [hideRequiredMarker]="true">
                            <mat-label>Nom d'utilisateur</mat-label>
                            <input matInput required [formControl]="username_insc">
                            <mat-error *ngIf="username_insc.invalid">{{getErrorMessage(username_insc)}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="legacy" class="col-lg-6 mb-3" [hideRequiredMarker]="true">
                            <mat-label>Mot de passe</mat-label>
                            <input matInput minlength="7" [type]="hide ? 'password' : 'text'" required
                                [formControl]="password_insc">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon class="text-gray">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="password_insc.invalid">{{getPasswordError()}}</mat-error>
                        </mat-form-field>

                        <div class="col-lg-12">
                            <button mat-raised-button type="submit"
                                class="btn-login-color me-auto ms-auto d-block">Inscription</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>