  <div class="_cities_drm_trvl_crd glide__slide">
    <div class="_cities_drm_trvl_crd_inr">
      <div class="_cities_drm_trvl_crd_img">
        <img [src]="img" alt="image">
      </div>
      <div class="_cities_drm_trvl_crd_info">
        <div class="_cities_drm_trvl_info_top">
          <p class="_cities_drm_trvl_crd_info_p">
            {{ name }}
          </p>
        </div>
        <div class="_cities_drm_trvl_info_btm">
          <h2 class="_cities_drm_trvl_info_h2">
            {{ name }}
          </h2>
          <p class="_cities_drm_trvl_crd_info_p2">
            {{ description }}
          </p>
          <div class="d-flex justify-content-around">
            <a [routerLink]="['provinces/'+_id]" class="btn btn-outline-secondary text-center">Voir en Détail >></a>
          </div>
        </div>
      </div>
    </div>
  </div>
